* {
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', sans-serif;
}

main, footer, header {
    background-image: url(../img/background.png);
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1015px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    height: 120px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.left-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-name {
    font-size: 34px;
    color: #325f70;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-style: italic; 
    cursor: pointer;
    margin-left: 7px;
}

.right-header {
    margin-left: 100px;
    display: flex;
    align-items: flex-end;
}

.login {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.phone-number {
    color: #252e62;
    font-size: 16px;
}

.auth {
    color: #666666;
    font-size: 14px;
    margin-top: 7px;
}

.auth a {
    color: #666666;
    border-bottom: 1px solid #666666;
    margin-left: 7px; 
}

.auth a:hover {
    font-weight: bold;
}

.search {
    margin-left: 45px;
    position: relative;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search input {
    height: 40px;
    width: 300px;
    border: 1px solid #6397aa;
    text-indent: 15px;
    border-radius: 2px; 
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.menu-section {
    background-color: #000a52;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.menu li {
    display: inline-block;
    margin-right: 19px; 
    color: white;
}

.menu li:last-child {
    margin-right: 0; 
}

.menu li a {
    color: white;
    font-size: 14px;
}

.menu li a:hover {
    border-bottom: 3px solid #ffffff;
    font-weight: bold;
}

.categories-section {
    border: 1px solid #6397aa;
    background-color: #ffffff;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.categories li {
    display: inline-block;
    color: #325f70;
}

.categories li a {
    color: #325f70;
    margin-right: 10px;
    font-size: 14px;
}

.categories li:last-child {
    margin-right: 0; 
}

.categories-list {
    margin-left: 20px;
}

.categories li a:hover {
    font-weight: bold;
}

.slider {
    margin: 0 auto; 
    width: 960px;
}

.carousel {
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-next:before,
.slick-prev:before {
    color: black !important;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name {
    color: #325f70;
    font-size: 30px;
    line-height: 31px;
    font-weight: bold;   
}

.item-model {
    margin-top: 15px;
    color: #6397aa;
}

.item-button {
    margin-top: 25px;
}

.order-button {
    border: none;
    background-color: #99c873;
    color: #ffffff;
    height: 40px;
    width: 113px;
    font-size: 18px;
    border-radius: 3px;
    margin-right: 10px;
}

.order-button:hover, .learn-button:hover{
    border: 1px solid black;
    cursor: pointer;
}

.learn-button {
    border: none;
    height: 40px;
    width: 113px;
    font-size: 18px;
    color: #99c873;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #99c873;
    border-radius: 3px;
}

.featured-section {
    background-image: url(../img/background2.png);
}

.featured {
    display: flex;
    justify-content: space-between;
}

.list-menu p {
    font-size: 24px;
    color: #333333;
    margin-top: 25px;
    padding-left: 8px;
    font-weight: bold;  
}

.list-menu ul {
    margin-top: 38px;
    list-style-type: none;
}

.list-menu li {
    margin-bottom: 5px;
    font-size: 14px;
}

.list-menu a {
    color: #325f70;
    display: block;
    width: 130px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 5px;
}

.list-menu a:hover {
    color: #ffffff;
    background-color: #325f70;
}

.photo {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
}

.image-photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
    width: 230px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.gray-circle-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gray-circle {
    position: absolute;
    bottom: 10px;
    left: -30px;
}

.red-circle {
    position: absolute;
    bottom: 15px;
    left: -12px;
}

.orange-circle {
    position: absolute;
    bottom: 15px;
    left: 30px;
}

.red-circle span {
    position: absolute;
    bottom: 12px;
    left: 9px;
    text-align: center;
    font-size: 12px;
    color: white; 
}

.orange-circle span {
    position: absolute;
    bottom: 15px;
    left: 7px;
    text-align: center;
    font-size: 12px;
    color: white; 
}

.orange-circle p {
    font-size: 8px;
}

.photo-description {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    line-height: 17px;
}

.photo-description span {
    color: #1e2934;
    letter-spacing: -1px;
}

.photo-description p {
    color: #627b92;
}

.browse-all {
    text-align: right;
    grid-column: span 2;
    padding-right: 40px;
}

.button-browse {
    background-color: #99c873;
    color: #ffffff;
    border: none;
    width: 140px;
    height: 40px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.button-browse:hover {
    border: 1px solid black;
}

.new-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-span {
    text-align: left;
    margin-top: 30px;
    font-size: 24px;
    color: #333333;
}

.new-item {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    margin-bottom: 50px;
}

.new-el {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
    width: 230px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    overflow: hidden;
}

.yellow-circle {
    position: absolute;
    bottom: 10px;
    left:6px;
    color: black;
}

.yellow-circle span {
    position: absolute;
    bottom: 19px;
    left: 10px;
    font-size: 12px;
    color: white; 
}

.sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/background.png);
    gap: 30px;
    padding-bottom: 70px;
}

.special span, .adv span {
    font-size: 24px;
    color: #333333;
} 

.special-offer, .adv-text {
    margin-top: 20px;
    height: 210px;
    width: 490px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.adv div {
    background-color: #f6f6f6;
}

.adv-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adv-text span{
    color: #627b92;
    font-size: 14px;
}

.special-offer {
    position: relative;
}

.special-offer span{
    font-size: 14px;
    color: #1e2934;
}

.camera, .camera-text, .plus-one, .lens, .lens-text, .plus-two, .bag, .bag-text, .price {
    position: absolute;
}

.camera {
    left: 5px;
    z-index: 1;
}

.camera-text {
    top: 125px;
    left: 17px;
}

.plus-one {
    left: 170px;
    top: 30px;
}

.lens {
    left: 200px;
    top: 17px;
    z-index: 1;
}

.lens-text {
    left: 215px;
    top: 115px;
    z-index: 1;
}

.plus-two {
    top: 150px;
    left: 90px;
    z-index: 1;
}

.bag {
    top: 90px;
    left: 125px;
}

.bag-text {
    top: 180px;
    left: 110px;
}

.price {
    top: 30px;
    left: 350px;
}

.old-price {
    font-size: 21px;
    color: #cd1919;
}

.new-price {
    font-size: 30px;
    color: #99c873;
}

.buttons {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details, .order {
    height: 30px;
    width: 83px;
    border-radius: 3px;
    border: 1px solid #99c873;
    font-size: 14px;
}

.details:hover, .order:hover{
    border: 1px solid black;
    cursor: pointer;
}

.details {
    background-color: #ffffff;
    color: #99c873;
}

.order {
    background-color: #99c873;
    color: #ffffff; 
}

.other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
}

.privacy-policy span {
    font-size: 14px;
    color: #325f70;
}

.privacy-policy p {
    margin-top: 10px;
    font-size: 14px;
    color: #648b99;
}

.media {
    margin-left: 150px;
    display: flex;
    gap: 7px;
}

.button-media {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: none;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
}

.twitter {
    border: 2px solid #00bbf5;
}

.facebook {
    border: 2px solid #3b5999;
}

.youtube {
    border: 2px solid #fe0000;
} 



/* 991 - 1198 */
@media (max-width: 1199px) {

    .wrapper {
        width: 960px;
    }

    .logo-name {
        font-size: 30px;
    }

    .search input {
        width: 220px; 
        text-indent: 10px;
        font-size: 13px;
    }

    .menu li {
        margin-right: 14px; 
    }    

    .categories li a {
        font-size: 13px;
    }

    .new-el {
        width: 220px;
    }

    .new-item {
        gap: 25px; 
    }

    .slider {
        width: 910px;
    }

    .special-offer, .adv-text {
        width: 460px;
    }

}

/* 767 - 990 */
@media (max-width: 991px) {
    .wrapper {
        width: 720px;
    }

    .content {
        height: 70px;
    }

    .logo-name {
        font-size: 24px;
    }

    .login {
        font-size: 13px;
    }

    .auth {
        font-size: 10px;
    }

    .search input {
        height: 30px;
        width: 150px;
        text-indent: 10px;
        font-size: 11px;
    }

    .search button {
        width:  40px;
        border: none;
    }

    .menu {
        height: 30px;
    }

    .menu li {
        margin-right: 5px; 
        font-size: 14px;
    }
    
    .menu li a {
        font-size: 11px;
    }
    
    .categories {
        height: 30px;
    }

    .categories li a {
        margin-right: 5px;
        font-size: 10px;
    }
    
    .categories-list {
        margin-left: 10px;
    }

    .categories img {
        width: 15px;
    }

    .slider {
        width: 690px;
    }
    
    .item-name {
        font-size: 20px;
        line-height: 25px;
    }
    
    .item-model {
        margin-top: 5px;
    }
    
    .item-button {
        display: flex;
    }
    
    .order-button {
        height: 30px;
        width: 113px;
        font-size: 16px;
    }
    
    .learn-button {
        height: 30px;
        width: 113px;
        font-size: 16px;
    }

    .item-image img {
        max-width: 300px;
    }

    .list-menu p {
        font-size: 18px;
    }
    
    .list-menu ul {
        margin-top: 20px;
    }
    
    .list-menu li {
        font-size: 13px;
    }
    
    .list-menu a {
        width: 120px;
        height: 25px;
        line-height: 25px;
    }
    
    .photo {
        margin-left: 25px;
        gap: 10px; 
    }
    
    .image-photo {
        height: 165px;
        width: 180px;
    }

    .img {
        max-width: 110px; 
        height: auto;
    }

    .gray-circle {
        bottom: 4px;
    }
    
    .red-circle {
        bottom: 7px;
    }
    
    .orange-circle {
        bottom: 7px;
    }
    
    .photo-description {
        padding-top: 5px;
        line-height: 14px;
    }

    .photo-description span {
        font-size: 13px;
    }
    
    .photo-description p {
        font-size: 12px;
    }
    
    .button-browse {
        height: 30px;
        width: 113px;
        font-size: 12px;
    }

    .item-span {
        font-size: 20px;
    }

    .new-item {
        gap: 10px; 
    }

    .new-el {
        height: 155px;
        width: 170px;
        overflow: hidden;
    }

    .yellow-circle {
        bottom: 5px;
        left:4px;
    }

    .yellow-circle span {
        font-size: 12px;
    }

    .sale {
        gap: 10px;
        padding-bottom: 40px;
    }
    
    .special span, .adv span {
        font-size: 20px;
    } 
    
    .special-offer, .adv-text {
        height: 180px;
        width: 350px;
    }
    
    .adv-text span{
        font-size: 12px;
    }
    
    .special-offer span{
        font-size: 10px;
        font-weight: bold;
    }
    
    .camera {
        width: 100px;
        left: 5px;
    }
    
    .camera-text {
        top: 90px;
        left: 15px;
    }
    
    .plus-one {
        width: 20px;
        left: 120px;
        top: 20px;
    }
    
    .lens {
        width: 100px;
        top: 10px;
        left: 145px;
    }
    
    .lens-text {
        left: 165px;
        top: 105px;
    }
    
    .plus-two {
        width: 20px;
        top: 100px;
        left: 70px;
    }
    
    .bag {
        width: 100px;
        top: 75px;
        left: 80px;
    }
    
    .bag-text {
        top: 160px;
        left: 70px;
    }
    
    .price {
        top: 30px;
        left: 255px;
    }
    
    .old-price {
        font-size: 15px;
    }
    
    .new-price {
        font-size: 20px;
    }
    
    .details, .order {
        height: 25px;
        width: 80px;
        font-size: 12px;
    }

    .other {
        padding-bottom: 20px;
    }

    .other img {
        width: 130px;
    }

    .privacy-policy span {
        font-size: 10px;
    }
    
    .privacy-policy p {
        margin-top: 5px;
        font-size: 10px;
    }
    
    .media {
        gap: 5px;
    }
    
    .button-media {
        width: 30px;
        height: 30px;
    }

    .twitter img {
        width: 20px;
    }

    .facebook img {
        width: 10px;
    }

    .youtube img {
        width: 20px;
    }
    
}


/* 575 - 766 */
@media (max-width: 767px) {
    .wrapper {
        width: 540px;
    }

    .left-header img {
        width: 15px;
    }

    .right-header {
        flex-direction: row-reverse;
        margin-left: 0;
        gap: 60px;
    }

    .logo-name {
        font-size: 20px;
    }

    .login {
        font-size: 12px;
    }

    .auth {
        font-size: 10px;
    }

    .search input {
        height: 25px;
        text-indent: 5px;
        font-size: 10px;
    }

    .search-container button img {
        width: 15px;
    }

    .slider {
        width: 100%;
    }
    
    .slick-next:before,
    .slick-prev:before {
        display: none;
    }

    .item-name {
        font-size: 16px;
    }
    
    .order-button, .learn-button {
        height: 25px;
        width: 100px;
        font-size: 14px;
    }

    .item-image img {
        max-width: 250px;
    }

    .featured {
        justify-content: space-between;
        flex-direction: column;
    }

    .featured p {
        text-align: center;
        font-size: 15px;
    }

    .list-menu ul {
        display: none;
    }

    .photo {
        margin-left: 0;
        padding-bottom: 10px;
    }
    
    .image-photo {
        height: 150px;
        width: 170px;
    }

    .img {
        max-width: 90px; 
    }

    .gray-circle{
        width: 65px;
    }
    
    .red-circle img{
        position: absolute;
        width: 40px;
        bottom: 3px;
        left: 5px;
    }

    .red-circle span {
        bottom: 10px;
        left: 13px;
        font-size: 10px;
    }

    .orange-circle img{
        position: absolute;
        width: 40px;
        bottom: 3px;
        left: -3px;
    }

    .orange-circle span {
        bottom: 13px;
        left: 0;
        font-size: 8px;
    }

    .orange-circle span p{
        font-size: 8px;
    }

    .photo-description {
        padding-top: 5px;
        line-height: 14px;
    }

    .photo-description span {
        font-size: 11px;
    }
    
    .photo-description p {
        font-size: 9px;
    }
    
    .button-browse {
        height: 25px;
        width: 100px;
        font-size: 10px;
    }
    
    .item-span {
        margin-top: 20px;
        font-size: 18px;
    }

    .new-items {
        display: flex;
        align-items: center;
    }
    
    .new-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; 
    }

    .sale { 
        flex-direction: column;
        gap: 30px;
    }

    .special, .adv {
        text-align: center;
    }

    .other img {
        margin-top: 10px;
        width: 100px;
    }

    .privacy-policy span {
        font-size: 8px;
    }
    
    .privacy-policy p {
        margin-top: 5px;
        font-size: 7px;
    }

    .menu {
        height: 100px;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu li:nth-child(1) {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .menu ul li {
        width: 15%;
        text-align: center;
        margin: 5px;
    }

    .categories {
        height: 70px;
    }

    .categories:nth-child(1) {
        width: 100%;
        text-align: center;
    }

    .categories ul li {
        width: 30%;
        text-align: center;
    }

}

/* <= 574 */
@media (max-width: 575px) {

    .wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .header-section {
        width: 100%;
    }

    .content {
        height: 150px;
        flex-direction: column;
        justify-content: center;
    }

    .right-header {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .login {
        text-align: center;
        font-size: 10px;
    }
    
    .search {
        margin-left: 0;
    }

    .menu li p {
        display: none;
    }

    .menu li a {
        font-size: 8px;
    }

    .categories-section {
        padding: 10px;
    }
    
    .categories img {
        display: none;
    }

    .categories-list {
        margin-left: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .categories ul li {
        width: 100%; 
    }

    .categories li a {
        font-size: 8px;
    }

    .slider-section {
        margin-top: 15px;
    }

    .item {
        flex-direction: column-reverse;
    }
    
    .photo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px; 
        padding: 20px;
    }

    .image-photo {
        height: 110px;
        width: 130px;
    }

    .browse-all {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    .item-span {
        font-weight: bold;
        font-size: 14px;
    }

    .new-item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        gap: 10px; 
    }

    .new-el {
        height: 110px;
        width: 130px;
    }


    .special span, .adv span {
        font-size: 10px;
        font-weight: bold;
    }

    .special-offer, .adv-text {
        height: 170px;
        width: 300px;
    }

    .camera {
        width: 80px;
    }
    
    .camera-text {
        top: 70px;
    }
    
    .plus-one {
        width: 15px;
        left: 100px;
        top: 15px;
    }
    
    .lens {
        width: 80px;
        left: 120px;
    }
    
    .lens-text {
        left: 135px;
        top: 90px;
    }
    
    .plus-two {
        width: 15px;
        top: 90px;
        left: 60px;
    }
    
    .bag {
        width: 80px;
        top: 80px;
        left: 70px;
    }
    
    .bag-text {
        top: 140px;
        left: 60px;
    }
    
    .price {
        left: 200px;
        text-align: left;
        margin-left: 15px;
    }
    
    .old-price {
        font-size: 13px;
    }
    
    .new-price {
        font-size: 15px;
    }
    
    .details, .order {
        height: 20px;
        width: 60px;
        font-size: 10px;
    }

    .other {
        justify-content: center;
        gap: 20px;
        padding-bottom: 0;
    }

    .other img {
        width: 50px;
    }
    
    .content {
        flex-direction: reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .privacy-policy {
        text-align: center;
    }

    .media {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .button-media {
        width: 20px;
        height: 20px;
    }

    .twitter img {
        width: 15px;
    }

    .facebook img {
        width: 7px;
    }

    .youtube img {
        width: 15px;
    }
    
}